@import '../../style/variables.scss';

.app{
  min-height: 900px;
  background-color: $background;
  display: flex;
  gap: 100px;

  &__content{
    padding: 20px 0;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    max-width: 768px;
    gap: 80px;
    &__content{
      margin: 0 auto;
      max-width: 600px;
    }
  }
  @media (max-width: 568px) {
    max-width: 568px;
    gap: 80px;
    &__content{
      margin: 0 auto;
      max-width: 500px;
    }
  }
  @media (max-width: 375px) {
    max-width: 375px;
    gap: 80px;
    &__content{
      margin: 0 auto;
      max-width: 600px;
    }
  }
}