@import '../../style/variables.scss';

.app{
  min-height: 900px;
  background-color: $background;
  display: flex;
  gap: 100px;
  &__content{
    padding: 20px 0;
  }
  @media (max-width: 768px) {
    gap: 80px;
    &__content{
      margin: 0 auto;
      max-width: 600px;
    }
}
}