@import '../../style/variables.scss';

.dashboard{
    max-width: 1110px;
    &__card{
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__chart{
        display: flex;
        flex-direction: column;
        gap: 50px;
        &_down{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
    &__table{
        padding: 30px 0;
    }
}