@import '../../style/variables.scss';

.table{
    max-width: 1060px;
    table {
        border-collapse: collapse;
        thead{
            tr{
                @extend %subtitle2;
                text-align: left;
                color: black;
                background-color: $divider;
                filter: opacity(25%);
                th{
                    padding: 10px 0;
                    &:first-child{
                        padding-left: 24px;
                    }
                }
            }
        }
    }
}